#commentList {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 90%;
  box-sizing: border-box;
  margin: auto;
}

.commentItem {
  border: 5px double var(--iceberg);
  border-radius: 20px;
  margin: 5px auto;
  padding: 10px;
  max-width: 500px;
  height: fit-content;
  background: var(--echoBlue);
}

.commentItem p {
  color: var(--iceberg);
  text-align: center;
  font-size: 20px;
  word-break: keep-all
}

.commentItem p.name {
  font-size: 40px;
}

.starCon {
  display: flex;
  width: 100%;
}

.starCon * {
  margin: auto;
  color: var(--desertStorm);
}

@media screen and (max-width: 764px) {
  .commentItem p.name {
    font-size: 20px;
  }
}