#createComment {
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--echoBlue);
  box-sizing: border-box;
  border: 2px solid var(--iceberg);
  border-radius: 50px;
}

#createComment h2 {
  font-size: 31px;
}

#createComment h2,
#createComment p {
  text-align: center;
  color: var(--iceberg);
}

#createComment p {
  font-size: 25px;
  margin: 0;
}

#createComment div {
  display: flex;
  text-align: center;
  margin: 10px auto;
  width: 100%;
}

#createComment label.textLen {
  background: none;
  color: var(--iceberg);
}

#createComment #txtCont {
  display: block;
}

#createComment label {
  background-color: var(--iceberg);
  font-size: 25px;
  margin: auto;
  padding: 0 10px;
  border-radius: 20px;
  opacity: 80%;
  color: var(--echoBlue);
}

#createComment input,
#createComment textarea {
  width: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 20px;
  margin: auto;
  text-align: center;
  background-color: var(--desertStorm);
  color: var(--echoBlue);
}

#createComment textarea {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
}

#createComment button {
  width: fit-content;
  margin: auto;
  background: none;
  border: 2px var(--sindad) solid;
  border-radius: 20px;
  display: flex;
  width: 200px;
  transition: all .6s;
  font-family: 'Bitter', serif;
}

#createComment button:hover {
  background-color: var(--pattensBlue);
}

#createComment button p {
  display: flex;
  font-size: 22px;
}

#createComment button p * {
  margin: 8px 5px;
  font-size: 20px;
}

#createComment .star {
  cursor: pointer;
}

@media screen and (max-width: 764px) {
  #createComment h2 {
    font-size: 21px;
  }
}