:root {
  --echoBlue: rgb(163, 184, 205);
  --sindad: rgb(176, 209, 216);
  --iceberg: rgb(198, 223, 217);
  --appleGreen: rgb(217, 231, 214);
  --desertStorm: rgb(239, 232, 226);
  --pattensBlue: rgb(232, 241, 246);
}

body {
  margin: 0;
  background-color: var(--desertStorm);
}

@media screen and (min-width:1024px) {
  #root main {
    padding-top: 74px;
  }
}

@media screen and (min-width:767px) and (max-width:1024px) {
  #root main {
    padding-top: 64px;
  }
}

@media screen and (max-width:767px) {
  #root main {
    padding-top: 54px;
  }
}