body {
  margin: 0;
}

@media screen and (min-width:1024px) {
  #root main {
    padding-top: 66px;
  }
}

@media screen and (min-width:767px) and (max-width:1024px) {
  #root main {
    padding-top: 59px;
  }
}

@media screen and (max-width:767px) {
  #root main {
    padding-top: 50px;
  }
}