#desc {
  display: flex;
  box-sizing: border-box;
  color: var(--echoBlue);
}

#desc div {
  display: flex;
}

#desc #descPhoto {
  margin: auto;
  margin-left: 0;
}

#desc #descText {
  flex-direction: column;
  margin: auto;
  margin-left: 0;
  padding: 9px 0;
}


#desc div #photo {
  margin: 0 auto;
}

#desc div div {
  display: flex;
  width: 100%;
}


#desc div div * {
  margin: auto;
}

#desc #menuBtn {
  width: fit-content;
  border-radius: 10px;
  margin: 0 auto;
  border: 4px double var(--sindad);
  background-color: var(--desertStorm);
  transition: all .3s;
}

#desc #menuBtn:hover {
  opacity: 0.7;
}

#desc #menuBtn a {
  color: var(--sindad);
  text-decoration: none;
  font-family: 'Bitter', serif;
}

@media screen and (min-width:1024px) {
  #desc div {
    width: 40%;
  }

  #desc #descPhoto {
    width: fit-content;
  }

  #desc div p {
    font-size: 20px;
  }

  #desc div #photo {
    height: 800px;
  }

  #desc #logo {
    height: 120px;
  }

  #desc div div * {
    font-size: 40px;
  }

  #desc #menuBtn {
    font-size: 25px;
  }
}

@media screen and (min-width:767px) and (max-width:1024px) {
  #desc div {
    width: 47%;
  }

  #desc #descPhoto {
    width: 47%;
  }

  #desc div p {
    font-size: 18px;
  }

  #desc div #photo {
    width: 100%;
  }

  #desc #logo {
    height: 100px;
  }

  #desc div div * {
    font-size: 25px;
  }

  #desc #menuBtn {
    font-size: 20px;
  }
}

@media screen and (max-width:767px) {
  #desc div {
    width: 47%;
  }

  #desc #descPhoto {
    width: 47%;
    display: none;
  }

  #desc #descText {
    width: 80%;
    margin: auto;
  }

  #desc div p {
    font-size: 13px;
  }

  #desc div #photo {
    width: 100%;
  }

  #desc #logo {
    height: 100px;
  }

  #desc div div * {
    font-size: 20px;
  }

  #desc #menuBtn {
    font-size: 20px;
  }
}