@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

#menuPrv {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-top: 5px solid var(--echoBlue);
  border-bottom: 5px solid var(--echoBlue);
  padding: 50px 0;
  background-color: var(--sindad);
}

#menuPrv p {
  margin: 0 auto 50px auto;
  font-size: 50px;
  font-family: 'Caveat', cursive;
  color: var(--desertStorm);
}

#menuPrv #btns {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#menuPrv #btns div {
  margin: auto;
  display: flex;
  flex-direction: column;
}

#menuPrv #btns button {
  border: 2px var(--echoBlue) solid;
  background-color: var(--iceberg);
  width: 300px;
  height: 300px;
}

#menuPrv img {
  width: 300px;
  margin: auto;
}

@media screen and (max-width:767px) {
  #menuPrv p {
    font-size: 30px;
  }
}