footer {
  background-color: black;
  color: white;
  display: flex;
}

footer div {
  margin: 0 auto;
  z-index: 2;
}

footer .text {
  text-decoration: none;
  color: white;
  font-style: italic;
}

footer .category {
  font-size: 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-style: italic;
}