@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

#NavBar {
  display: flex;
  width: 100%;
  height: 74px;
  background-color: yellowgreen;
}

#NavBar img {
  border-radius: 50%;
  height: 74px;
  margin: auto;
}

#NavBar>div {
  display: flex;
}

#NavBar button {
  margin: auto;
  width: 150px;
  font-size: 25px;
  padding: 8px;
  border: none;
  background: none;
  display: flex;
  transition: all 0.3s ease-in;
  border-radius: 20px;
  font-family: 'Bad Script', cursive;
}

#NavBar button:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  width: 300px;
}

#NavBar button div {
  display: flex;
  margin: auto;
}

#NavBar button #pizza {
  transform: rotate(270deg);
}

#NavBar .icon {
  color: white;
}